body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #000;
}
.radio {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    gap: 5px;
}
.gender {
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    

}
.hidden-radio {
    display: none;
}
.custom-radio {
    display: inline-flex;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc; 
    border-radius: 100px;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;

    transition: border-color 0.3 ease;

}
.hidden-radio:checked + .custom-radio {
    background-image: url("image.png");
}
.custom-radio:hover {
    border-color: #888888;
}