body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000;
}
.box-wrapper {
    display: inline-flex;
    cursor: pointer;

}
.hidden-box {
    display: none;
}
.custom-checkbox {
    display: inline-flex;

    width: 20px;
    height: 20px;
    margin-right: 8px;
    
    border: 2px solid #ccc;
    border-radius: 4px;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;

    transition: border-color 0.3s ease;

}
.hidden-box:checked + .custom-checkbox {
    background-image: url("image.png");
}
.box-wrapper:hover .custom-checkbox {
  border-color: #888888;
}
